.carouselContainer {
    position: relative;
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;

    @media screen and (max-width: 768px) {
        padding: 0 10px 0 10px;
    }
}

.carouselImg {
    width: 400px;
    height: 400px;
    border-radius: 10%;

    @media screen and (max-width: 768px) {
        max-width: 300px;
    }
}

.btnCarousel {
    /* position: absolute; */
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 14px;
    cursor: pointer;
    color: black;
    opacity: 0.5;
}

.btnCarousel:first-child {
    left: 10px;
}

.btnCarousel:last-child {
    right: 10px;
}