@import url('https://fonts.googleapis.com/css2?family=Pattaya&family=STIX+Two+Text:ital,wght@0,400..700;1,400..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero {
    display: flex;
    text-align: center;
    flex-direction: column;
    max-width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    margin-top: 1px;
    width: 100vw;
    height: 100vh;
    background-image: url('../../img/kitchen.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

.titleHome {
    padding: 0;
    font-family: "Pattaya",
        sans-serif;
    /* background-color: transparent; */
    color: rgba(49, 35, 19, 0.4);
    font-weight: 200;
    font-size: 40px;
    margin: 0 auto;
    margin-top: 20px;


    @media screen and (min-width: 768px) {
        margin: 0;
        padding: 0;
        font-family: "Pattaya",
            sans-serif;
        background-color: transparent;
        /* color: #312313; */
        font-weight: 400;
        font-size: 40px;
        color: rgba(49, 35, 19, 0.4);
        margin: 0 auto;
        margin-top: 50px;
        width: 50%;


    }


}

.linesHome {
    width: 50%;
    height: 1px;
    background-color: rgba(49, 35, 19, 0.4);
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    text-align: right;


}

.textHero {
    margin: 0;
    padding: 0;
    margin-top: 10px;
    color: rgba(49, 35, 19, 0.6);
    right: 0;
    top: 0;
}

.linkHome {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-decoration: none;
    flex-direction: column;



}

.navHome {
    background-color: rgba(255, 253, 253, 0.7);
    border-radius: 10px;
    margin-bottom: 50px;
    display: flex;
    width: 200px;
    flex-direction: column;
    align-items: flex-start;
}

.navLinkHome {
    margin-bottom: 50px;
    align-items: center;
    text-decoration: none;
    color: #312313;
    margin: 15px;
    font-size: 30px;
}

.navLinkHome:hover {
    color: black;
    opacity: 0.5;
    margin-left: 5px;
}

.icon {
    padding-right: 10px;
}