body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (max-width: 414px) {
  .container {
    max-width: 415px;
  }
}

@media (min-width: 415px) {
  .container {
    width: 415px;
  }
}

@media (min-width: 1020px) {
  .container {
    width: 960px;
  }
}

@media (min-width: 1280px) {
  .container {
    width: 1140px;
  }
}

h1,
h2,
h3,
h4,
h5,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.section {
  padding-top: 124px;
  padding-bottom: 124px;
}

@media screen and (min-width: 1020px) {
  .section {
    padding-top: 132px;
    padding-bottom: 132px;
  }
}

body.modal-menu-open {
  overflow: hidden;
}

.container__gradient {
  background: linear-gradient(270deg, #6f6666 2.17%, #100f0f 75.72%);
}

@media (min-width: 1020px) {
  .container__gradient {
    background: linear-gradient(256.51deg, rgba(111, 102, 102, 0.9) 26.96%, rgba(16, 15, 15, 0.9) 79.08%, rgba(16, 15, 15, 0.9) 79.08%);
  }
}

@media (min-width: 1280px) {
  .container__gradient {
    background: linear-gradient(228.52deg, rgba(111, 102, 102, 0.9) 4.71%, rgba(16, 15, 15, 0.9) 39.77%, rgba(16, 15, 15, 0.9) 44.21%);
  }
}

@media (min-width: 1020px) {
  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.nav__cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1019px) {
  .nav.nav-menu__cont .nav__cont {
    margin-bottom: 28px;
  }
}